@media screen and (min-width: 1024px){
    .AppFooter {
        padding: 0vw 1vw 0vw 1vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .AppFooter {
        padding: 0vw 2vw 0vw 2vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px){
    .AppFooter {
        padding: 0vw 3vw 0vw 3vw;
    }
}


@media screen and (min-width: 426px){
    .AppFooter__leftPart span {
        display: inline-block;
    }

    .AppFooter {
        background-color: #0067A3;
    }
}

@media screen and (max-width: 425px){
    .AppFooter {
        background-color: #0079BF;
    }

    .AppFooter__leftPart,
    .AppFooter__leftPart span,
    .AppFooter__rightPart {
        display: none;
    }
}

.AppFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    width: 100%;
    height: 8%;

    color: #FFFFFF;
    font-weight: 100;
}

.AppFooter__leftPart{
    box-sizing: border-box;
    display: flex;
    
    width: 50%;
    column-gap: 5%;
}