.DropDownMenu {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 98%;

    margin-top: 12px;
    row-gap: 12px;
}

.DropDownMenu__select {
    background-color: #FFFFFF;

    padding: 6px 8px 6px 8px;

    border-radius: 10px;
    border-width: 0px;
    
    font-size: calc(14px + 12 * (100vw - 320px) / 2240);
}

.DropDownMenu__option:hover {
    background-color: #DEDEDE;
}