
.Subboard {
    width: 22.8%;

    border-radius: 10px;

    background-color: #EBECF0;
}

.SubboardBtn {
    border-width: 0px;
    background-color: #EBECF0;
}

.SubboardBtn:hover {
    border-radius: 5px;
    background-color: #FFFFFF;
}