@media screen and (min-width: 1025px){
    .Subboard {
        width: 23%;
        max-height: 90%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .Subboard {
        width: 45%;
        max-height: 40%;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px){
    .Subboard {
        width: 45%;
        max-height: 40%;
    }
}

@media screen and (max-width: 425px){
    .Subboard {
        width: 90%;
        max-height: 40%;
    }
}

.Subboard {
    box-sizing: border-box;
    height: min-content;

    margin-top: 1%;
    padding: 1%;

    overflow-y: auto;

    border-radius: 10px;

    background-color: #EBECF0;
}

.Subboard__tasksBlock {
    display: flex;
    flex-direction: column;

    margin-top: 12px;
    row-gap: 12px;
}

.Subboard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DEDEDE;
}

.Subboard::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.Subboard::-webkit-scrollbar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}