@media screen and (min-width: 1024px){
    .TaskPageMain {
        padding: 0vw 1vw 0vw 1vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .TaskPageMain {
        padding: 0vw 2vw 0vw 2vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px){
    .TaskPageMain {
        padding: 0vw 3vw 0vw 3vw;
    }
}

@media screen and (max-width: 425px){
    .TaskPageMain {
        height: 100%;
        padding: 0vw 1vw 0vw 1vw;
    }
}

@media screen and (min-width: 426px){
    .TaskPageMain {
        height: 84%;
    }
}

.TaskPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.TaskPageMain__exitIconSVGcontainer {
    width: 24px;
    height: 24px;
}

.TaskPageMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 100%;

    background-color: #0079BF;
}

.TaskPageMain__taskInfo {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 98%;
    height: 95%;

    padding: 22px;
    row-gap: 35px;

    border-radius: 5px;
    background-color: #FFFFFF;
}

.TaskPageMain__titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 2%;
}

.TaskPageMain__title {
    box-sizing: border-box;

    width: 90%;

    word-wrap: break-word;
    font-size: calc(19px + 12 * (100vw - 320px) / 2240);
}

.TaskPageMain__descriptionWrapper {
    height: 90%;
    width: 100%;
}

.TaskPageMain__description {
    resize:none;

    height: 100%;
    width: 100%;

    background-color: #FFFFFF;

    border: 0px;

    overflow-y: auto;
    word-wrap: break-word;
}

.TaskPageMain__description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DEDEDE;
}

.TaskPageMain__description::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
} 

.TaskPageMain__description::-webkit-scrollbar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}