@media screen and (min-width: 1025px) {
  .AuthPage__img {
    width: 55vh;
    margin-left: 8vw;
  }
} 

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .AuthPage__img {
    width: 25vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .AuthPage__img {
    width: 25vh;
    margin-left: 4vw;
  }
}

@media screen and (max-width: 425px) {
  .AuthPage__main {
    flex-direction: column;
  }

  .AuthPage__img {
    display: none;
  }

  .rightBlock__img {
    margin-top: 4vh;
  }

  .AuthPage__rightBlock {
    width: 100%;
  }

  .AuthPage__decorImg {
    margin: 5vh auto -10px 30vw;
  }
}

@media screen and (min-width: 426px) {
  .AuthPage__main {
    flex-direction: row;
  }

  .AuthPage__headerBlock {
    margin-right: 5vw;
  }

  .AuthPage__img {
    margin-top: 1.5vh;
  }

  .rightBlock__img {
    display: none;
  }

  .AuthPage__decorImg {
    margin: 0px 0px -35px -50px;
  }
}

.AuthPage,
.AuthPage__main {
  display: flex;
  flex-grow: 1;
}

.AuthPage__main {
  align-items: center;
  justify-content: start;
}

.AuthPage__headerBlock {
  display: flex;
  flex-direction: column;
}

.AuthPage__decorImg {
  align-self: flex-start;
  width: 75px; 
}