@media screen and (min-width: 1921px) {
  .AppHeader {
    padding: 0rem 6vw;
    min-height: 11rem;
  }
}

@media screen and (max-width: 1920px) {
  .AppHeader {
    padding: 0rem 3vw;
    min-height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .AppHeader__rightBlock {
    column-gap: 4vw;
  }
}

@media screen and (min-width: 769px) {
  .AppHeader__rightBlock {
    column-gap: 8vw;
  }
}

@media screen and (max-width: 425px) {
  .AppHeader.burgerMenuOpened {
    background-color: #029491;
  }
}

.AppHeader__burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0vh 3vw;
  row-gap: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  background-color: #029491;
}

.AppHeader,
.AppHeader__rightBlock,
.burgerMenu__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader {
  min-height: 6rem;
  max-height: max-content;
  justify-content: space-between;
}

.burgerMenu__top,
.AppHeader__burgerMenu {
  width: 100%;
  height: 100%;

  justify-content: space-between;
}