@media screen and (min-width: 1025px) {
  .HeaderNav {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .HeaderNav {
    display: none;
  }
}

.HeaderNav {
  flex-direction: row;
  column-gap: 4vw;
}

.HeaderNav a {
  text-decoration: none;
  color: #000000;
}