button {
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    width: 220px;
    height: 60px;

    font-family: monospace;
    font-size: 18px;
    font-weight:800;

    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(139, 0, 139, 0.354);

    color: white;
    background-color: darkmagenta;
}

button:active {
    color:hotpink;
    box-shadow: none;
}
