$primaryFont: Montserrat, Arial, Helvetica, sans-serif;
$primaryFontDarkColor: #1C2A39;
$primaryFontLightColor: #5C6A79;
$primaryFontWeight_bold: 700;

.books-preview__categories {
    position: absolute;
    z-index: -1;

    padding-bottom: 6rem;

    display: flex;
    justify-content: center;

    background-color: #EFEEF6;

    font-family: $primaryFont;
    color: $primaryFontLightColor;
    font-weight: 500;

    & .categories-ul {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        
        margin-top: 4rem;
        row-gap: 2rem;

        & .active {
            color: $primaryFontDarkColor;
            font-weight: $primaryFontWeight_bold;
        }

        & > .categories-ul_li:not([class="active"]){
            list-style: none;
        }
    }
}