$primaryButtonTextColor: #4C3DB2;
$primaryFontWeight_bold: 700;

.button_primary-type {
    font-weight: $primaryFontWeight_bold;
    color: $primaryButtonTextColor;
    text-transform: uppercase;

    background-color: white;
    border: 1px solid $primaryButtonTextColor;

    &:active {
        border: 1px solid #4d3db251;
    }

    &:hover {
        cursor: pointer;
    }
}

