$primaryFont: Montserrat, Arial, Helvetica, sans-serif;
$primaryFontDarkColor: #1C2A39;
$primaryFontLightColor: #5C6A79;
$primaryFontWeight_bold: 700;

.categories {
    display: flex;

    background-color: #EFEEF6;

    font-family: $primaryFont;
    color: $primaryFontLightColor;
    font-weight: 500;

    .categories-ul {
        display: flex;

        .active {
            color: $primaryFontDarkColor;
            font-weight: $primaryFontWeight_bold;
        }
        
        .categories-ul__li:hover {
            cursor: pointer;
        }

        .categories-ul__li:not(.active){
            list-style: none;
        }
    }
}