$primaryFont: Montserrat, Arial, Helvetica, sans-serif;
$primaryFontDarkColor: #1C2A39;
$primaryFontLightColor: #5C6A79;
$primaryButtonTextColor: #4C3DB2;

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
}

body {
    color: #ffffff;
}

main, .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books-selection-ref {
    position: absolute;
    box-shadow: 0px 40px 20px -20px rgb(0 0 0 / 20%);
}

.books-selection-ref0 {
    top: 12vw;
    right: 5vw;

    background-color: #9E98DC;
}

.books-selection-ref1 {
    top: 33vw;
    right: -2vw;

    background-color: #FF8FE6;
}

.button_primary-type {
    width: 12.2vw;
    height: 3.1vw;

    color: $primaryButtonTextColor;
    text-transform: uppercase;

    background-color: white;
    border: 1px solid $primaryButtonTextColor;
}