$primaryFont: Montserrat, Arial, Helvetica, sans-serif;
$primaryFontDarkColor: #1C2A39;
$primaryFontLightColor: #5C6A79;
$primaryFontWeight_bold: 700;

header {
    display: flex;
    justify-content: center;

    background-color: white;

    position: sticky;
    top: 0px;
    z-index: 3;
}

.header-content {
    display: flex;
    flex-direction: row;

    font-family: $primaryFont;
    color: $primaryFontLightColor;

    .logo__img {
        width: 100%;
    }

    .logo,
    .header-nav,
    .header-nav__ul,
    .acc-block {
        display: flex;
        flex-direction: row;
        align-items: center;

        column-gap: 2.7vw;
    }

    .header-nav__ul {
        list-style-type: none;

        .nav-ul__a {
            text-decoration: none;
            color: $primaryFontLightColor;

            &.active {
                font-weight: $primaryFontWeight_bold;
            }
        }
    }

}    

.acc-block__cart-icon{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    .acc-block__cart-icon-img {
        position: absolute;
    }

    .acc-block__books-counter {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-size: 1rem;
        font-weight: 500;

        background-color: #FF353A;
        border-radius: 50%;
    } 
}

