@media screen and (min-width: 1440px) {
    .slider {
        width: 78vw;
        height: 58vw;
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
    .slider {
        width: 78vw;
        height: 49vw;
    }
}


@media screen and (max-width: 991px) {
    .slider {
        width: 78vw;
        height: 49vw;
    }
}

