@media screen and (min-width: 1440px) {

    .books-preview__book {
        width: 46%;
        height: 21vw;
    }
    
    .books-preview__book-info {
        width: 42%;
        height: 71%;
    }
    
    .authors {
        margin-bottom: calc(4px + 6 * (100vw - 1440px) / 1120);
        font-size:calc(10px + 10 * (100vw - 1440px) / 1120);
    }
    
    .title {
        margin-bottom: calc(4px + 6 * (100vw - 1440px) / 1120);
        font-size:calc(16px + 10 * (100vw - 1440px) / 1120);
    }

    .rating-info {
        column-gap: 0.5rem;
    }

    .retail-price {
        font-size: calc(13px + 10 * (100vw - 1440px) / 1120);
    }
    
    .description {
        margin-top: calc(16px + 10 * (100vw - 1440px) / 1120);
        margin-bottom: calc(16px + 10 * (100vw - 1440px) / 1120);

        font-size:calc(10px + 10 * (100vw - 1440px) / 1120);
    }
    
    .buy-button {
        width: 100%;
        height: 22%;
    
        font-size:calc(8px + 10 * (100vw - 1440px) / 1120);
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){

    .books-preview__book {
        width: 48%;
        height: 24vw;
    }
    
    .books-preview__book-info {
        width: 44%;
        height: 74%;
    }
    
    .authors {
        margin-bottom: 4px;
        font-size:10px;
    }
    
    .title {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .rating-info {
        column-gap: 0.5rem;
    }

    .retail-price {
        font-size: 13px;
    }
    
    .description {
        margin-top: 12px;
        margin-bottom: 12px;

        font-size: 10px;
    }
    
    .buy-button {
        width: 100%;
        height: 16%;
    
        font-size: 8px;
    }
}

@media screen and (max-width: 991px) {
    
    .authors {
        margin-bottom: calc(4px + 6 * (100vw - 991px) / 671);
        font-size:calc(10px + 10 * (100vw - 991px) / 671);
    }
    
    .title {
        margin-bottom: calc(4px + 6 * (100vw - 991px) / 671);
        font-size:calc(16px + 10 * (100vw - 991px) / 671);
    }

    .rating-info {
        column-gap: 0.5rem;
    }

    .retail-price {
        font-size: calc(13px + 10 * (100vw - 991px) / 671);
    }
    
    .description {
        margin-top: calc(16px + 10 * (100vw - 991px) / 671);
        margin-bottom: calc(16px + 10 * (100vw - 991px) / 671);

        font-size:calc(10px + 10 * (100vw - 991px) / 671);
    }
    
    .buy-button {
        width: 100%;
        height: 22%;
    
        font-size:calc(8px + 10 * (100vw - 991px) / 671);
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){

    .books-preview__book {
        width: 46%;
        height: 26vw;
    }
    
    .books-preview__book-info {
        width: 44%;
        height: 74%;
    }
}

@media screen and (max-width: 767px) {

    .books-preview__book {
        width: 100%;
        height: 50vw;
    }
    
    .books-preview__book-info {
        width: 45%;
        height: 80%;
    }
}