@media screen and (min-width: 1440px) {
    .header-container {
        width: 78vw;
        height: 8vw;

        font-size:calc(10px + 8 * (100vw - 1440px) / 1120);

        justify-content: space-between;
    }

    .header-container__logo{
        width: 11%;
    }
    
    .burger-menu_img {
        display: none;
    }

    .header-container__right-block  img{
        width:calc(14px + 6 * (100vw - 1440px) / 1120);
        height: auto;
    }

    .cart-icon__books-counter-circle {
        top: 0px;
        left: calc(6px + 3 * (100vw - 1440px) / 1120);

        width: calc(12px + 6 * (100vw - 1440px) / 1120);
        height: calc(12px + 6 * (100vw - 1440px) / 1120);
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
    .header-container {
        width: 84vw;
        height: 8vw;

        justify-content: space-between;
    }

    .header-container__logo{
        width: 11%;
    }

    .burger-menu_img {
        display: none;
    }

    .cart-icon__books-counter-circle {
        top: 0px;
        left: 6px;

        width: 10px;
        height: 10px;
    }
}


@media screen and (max-width: 991px) {
    .header-container {
        width: 90vw;
        height: 16vw;

        ul {
            display: none;
        }

        .burger-menu_img {
            height: 45%;
        }
    }

    .header-container__logo{
        width: 20%;
    }

    .header-container__right-block {
        margin-left: auto;

        .cart-icon__books-counter-circle {
            top: 0px;
            left: 6px;
    
            width: 12px;
            height: 12px;
        }
    }
}