@media screen and (min-width: 1440px) {
    .header-container {
        width: 78vw;
        height: 8vw;

        justify-content: space-between;
    }

    .burger-menu_img {
        display: none;
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
    .header-container {
        width: 84vw;
        height: 8vw;

        justify-content: space-between;
    }

    .burger-menu_img {
        display: none;
    }
}


@media screen and (max-width: 991px) {
    .header-container {
        width: 90vw;
        height: 16vw;

        ul {
            display: none;
        }

        .burger-menu_img {
            height: 45%;
        }
    }

    .header-container__logo{
        width: 30%;
    }

    .header-container__right-block {
        margin-left: auto;
    }
}