@media screen and (min-width: 1440px) {
    .header-content {
        width: 78vw;
        height: 8vw;

        font-size:calc(10px + 8 * (100vw - 1440px) / 1120);

        justify-content: space-between;
    }

    .logo{
        width: 11%;
    }
    
    .nav-ul__burger-menu-img {
        display: none;
    }

    .acc-block__icon{
        width:calc(14px + 6 * (100vw - 1440px) / 1120);
        height: auto;
    }

    .acc-block__books-counter {
        top: 0px;
        left: calc(6px + 3 * (100vw - 1440px) / 1120);

        width: calc(12px + 6 * (100vw - 1440px) / 1120);
        height: calc(12px + 6 * (100vw - 1440px) / 1120);
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
    .header-content {
        width: 84vw;
        height: 8vw;

        justify-content: space-between;
    }

    .logo{
        width: 11%;
    }

    .nav-ul__burger-menu-img {
        display: none;
    }

    .acc-block__books-counter {
        top: 0px;
        left: 6px;

        width: 10px;
        height: 10px;
    }
}


@media screen and (max-width: 991px) {
    .header-content {
        width: 90vw;
        height: 16vw;

        .header-content__nav-ul {
            display: none;
        }

        .nav-ul__burger-menu-img {
            height: 45%;
        }
    }

    .logo{
        width: 20%;
    }

    .acc-block {
        margin-left: auto;

        .acc-block__books-counter {
            top: 0px;
            left: 6px;
    
            width: 12px;
            height: 12px;
        }
    }
}