@media screen and (min-width: 1440px) {
    .books-preview__books {
        width: 78vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        row-gap: 7vw;
        column-gap: 5vw;
    }

    .books-preview__book {
        width: 38%;
        height: 300px;
        border: 1px solid red;
    }

    .books-preview__categories {
        width: 37%;
        height: 700px;
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
}

@media screen and (max-width: 991px) {
}