@media screen and (min-width: 426px){

    body {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    h1 {
        font-size: calc(1em + 3vw);
        
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .loadButton {
        padding: 1vw 2vw;
        font-size: calc(1em - 2px + 1vw);
    }

    /* .loadButton:active {
        font-size: calc(1em - 3px + 1vw);
    } */

    .gallery {
        width: 73vw;
        font-size: calc(1em - 3px + 1vw);
    }

    .gallery > img {
        width: 19%;
    }

    .gallery__loader {
        width: 15%;
    }

    footer p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 425px){
    body {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    h1 {
        font-size: calc(1em + 6vw);
        
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .loadButton {
        padding: 2vw 3vw;
        font-size: calc(1em - 2px + 0.5vw)
    }

    /* .loadButton:active {
        font-size: calc(1em - 3px + 0.5vw);
    } */

    .gallery {
        width: 75vw;
        font-size: calc(1em + 0.5vw);
    }

    .gallery > img {
        width: 49%;
    }

    .gallery__loader {
        width: 25%;
    }

    footer p {
        font-size: 6vw;
    }
}


* {
    margin: 0px;
    padding: 0px;

    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

body {
    background-image: url("cat-vector-line.jpg");
    background-position: center;
    background-size: 50vw;
}

.loadButton {
    background-color: hsl(34, 78%, 91%);

    border: 5px solid hsl(34, 78%, 91%);
    box-shadow: 0px 0px 10px gray;
    border-radius: 8px;
}

.loadButton:active {
    background-color: rgb(250, 226, 193);
    border-color: rgb(250, 226, 193);
    box-shadow: 0px 0px 3px gray;
}

.content-back {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: hsla(34, 93%, 82%, 0.911);

    min-height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 40px;
    gap: 5px;

    min-height: 70vh;
}

.gallery > img {
    aspect-ratio: 1/1;
    object-fit: fill;
}

.gallery__loader {
    position: absolute;
}

.loader__inner {
    position: relative;

    animation: 2s linear infinite rotate;
}

.loader__img {
    width: 100%;
    aspect-ratio: 1/1;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  footer p {
    text-align: center;
    padding: 30px 0 20px 0;
  }

