@media screen and (min-width:2560px){
    h1 {
        font-size: 4em;
        line-height: 1em;
    }

    h3, .slider__header-block p {
        font-size: 2em;
    }

    .slider__header-block p {
        line-height: 40px;
    }

    .slider__header-block > div{
        margin-bottom: calc(2em + 1px);
    }
}

@media screen and (max-width: 2559px) and (min-width:1440px) {
    h1 {
        font-size: calc(2rem - 4px);
        line-height: 37px;
    }

    h3 {
        font-size: calc(1em + 2px);
    }

    .slider__header-block p{
        line-height: 27px;
        font-size: calc(1rem - 2px);
    }

    .slider__header-block > div {
        margin-bottom: calc(1em + 1px);
    }
    
}

@media screen and (max-width:1439px) and (min-width:1024px) {
    h1 {
        font-size: calc(2em - 7px);
    }

    h3 {
        font-size: 1em;
    }

    .slider__header-block p{
        line-height: 22px;
        font-size: calc(1em - 3px);
    }

    .slider__header-block > div{
        margin-bottom: calc(2em - 10px);
    }
}
@media screen and (max-width:1023px) and (min-width:768px) {
    h1 {
        font-size: calc(2em - 5px);
    }

    .slider__header-block > div{
        margin-bottom: calc(2em + 1px);
    }
}

@media screen and (max-width:767px) and (min-width:425px) {
    h1 {
        font-size: calc(2em - 5px);
    }

    .slider__header-block > div{
        margin-bottom: calc(2em - 8px);
    }    
}

@media screen and (max-width:424px) {
    h1 {
        font-size: calc(2em - 5px);
    }

    .slider__header-block > div{
        margin-bottom: calc(2em - 8px);
    }    
}


@media screen and (max-width:2559px){
    h1:after {
        height: 2px;
    }
}

@media screen and (min-width:2560px){
    h1:after {
        height: 3px;
    }
}
