@media screen and (max-width: 425px){
    .Article {
        width: 100%;
        padding: 1rem;
    }

    .title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .techNewsMarker {
        margin-bottom: 0.5rem;
        font-size: 10px;
    }

    .articleImg {
        margin-bottom: 1rem;
    }
    
    .Article__sourceBlock,
    .articleText {
        font-size: 14px;
    }

    .articleText {
        margin-bottom: 1.5rem;
    }

    .readInTheSourceBtn {
        padding: 1.5vh 5vw;
        font-size: 16px;
    }
}

@media screen and (min-width: 426px){
    .Article {
        padding: 1rem 1.5rem 2rem 1.5rem;
        width: calc(97% / 2);
    }

    .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .techNewsMarker {
        margin-bottom: 0.7rem;
        font-size: 12px;
    }

    .articleImg {
        margin-bottom: 1.2rem;
    }

    .Article__sourceBlock,
    .articleText {
        font-size: 20px;
    }

    .articleText {
        margin-bottom: 1.8rem;
    }

    .readInTheSourceBtn {
        padding: 1.5vh 3vw;
        font-size: 18px;
    }
}

.Article {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: min-content;

    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.Article__sourceBlock,
.articleText,
.articleWordsNum {
    color: #949494;
}

.Article__sourceBlock {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.source {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.title {
    height: min-content;

    font-size: calc(18px + 16 * (100vw - 320px) / 2240);
    font-weight: 500;
}

.articleText {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -moz-box;
    display: -webkit-box;

    line-clamp: 12;
    -webkit-line-clamp: 12;

    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}

.articleImg {
    height: 12rem;
    width: 100%;
    object-fit: cover;

    border-radius: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.readInTheSourceBtn {
    background-color: #7CE3E1;

    border-radius: 5px;
    border: 0px;
}

.readInTheSourceBtn:hover {
    background-color: #88f9f8;
    cursor: pointer;
}

.readInTheSourceBtn:active {
    color: #FFFFFF;
    background-color: #7CE3E1;
}

.techNewsMarker {
    background-color: #FFB64F;
    border-radius: 5px;

    width: min-content;

    padding: 0.2rem 1rem;

    white-space: nowrap;
}