@media screen and (min-width: 769px) {
    
    /* .footer__section1_links-list {
        width: 25vw;
        height: 15vw;
    }

    .footer__section1_subscribing {
        width: 30vw;
        height: 15vw;
    }

    .footer__section1_soc-networks {
        width: 15vw;
        height: 15vw;
    } */

    .footer__section2 {
        height: 3vw;
    }
}
@media screen and (max-width: 768px) and (min-width: 576px){

    
    /* .footer__section1_links-list {
        width: 30vw;
        height: 20vw;
    }

    .footer__section1_subscribing {
        width: 45vw;
        height: 20vw;
    }

    .footer__section1_soc-networks {
        width: 20vw;
        height: 20vw;
    } */

    .footer__section2 {
        height: 15vw;
    }
}

@media screen and (max-width: 575px) {

    .footer__section1 > div {
        height: 50vw;
        width: 100%;
    }

    .footer__section2 {
        height: 30vw;
    }
}

/* ------------------------------------------------------ */

footer {
    width:100%;
    background-color:#2963A3;
    color: #FFFFFF;
}

.footer__section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* height: 80%; */
}

.footer__section1_links-list {
    display: flex;
    justify-content: space-between;
}

.footer__section1_links-list ul {
    list-style: none;
    padding-left: 0px;

    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    font-size: 16px;
    font-weight: 700;
}

.footer__section1_links-list ul li {
    display: inline-block;
    color: #FFFFFF;
}

.footer__section1_subscribing p:first-of-type {
    font-size: 18px;
    font-weight: 700;
}

.footer__section1_subscribing p:last-of-type {
    font-size: 12px;
    font-weight: 400;
}

.footer__section1_soc-networks {
    display: block;
}

.footer__section1 > div {
    height: 184px;
    
    border: 3px;
    border-color:deepskyblue;
    border-style: solid;
}

.footer__section2 {
    border: 3px;
    border-color:chocolate;
    border-style: solid;

    font-size: 14px;
    font-weight: 400;
}