@media screen and (min-width: 768px) {

    .main__articles-section1 {
        flex-direction: row;
        margin-bottom: 24px;
    }

    .main__articles-section1 article{
        width: 49%;
    }

    .main__articles-section1 img{
        height: 60%;
    }

}

@media screen and (max-width: 767px) and (min-width: 576px){

    .main__articles-section1 {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .main__articles-section1 article{
        width: 100%;
    }

    .main__articles-section1 img{
        height: 70%;
    }

}

@media screen and (max-width: 575px) {

    .main__articles-section1 {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .main__articles-section1 article{
        width: 100%;
        aspect-ratio: 0.95;
    }

    .main__articles-section1 img{
        height: 40%;
    }
}
/* ------------------------------------------------------------ */

.main__articles-section1 {

    display: flex;
    justify-content: space-between;
    width: 100%;
}