@media  screen and (min-width: 1200px) {
    .body-container {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 769px) {
    
    .body-container {
        padding-left: 3%;
        padding-right: 3%;
    }

}
@media screen and (max-width: 768px) and (min-width: 576px){
    
    .body-container {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width: 575px) {
    
    .body-container {
        padding-left: 4%;
        padding-right: 4%;
    }
}