@media screen and (max-width: 425px) {
    .AboutServiceBlock__headerBlock .headerBlock__h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .AboutServiceBlock {
        flex-direction: column;
    }

    .AboutServiceBlock__headerBlock,
    .AboutServiceBlock__imgWrapper {
        width: 100%;
    }

    .dataRequestBtn {
        margin-top: 5vh;
    }

    .AboutServiceBlock__imgWrapper {
        margin-top: 8vh;
    }
}

@media screen and (min-width: 426px) {
    .AboutServiceBlock__headerBlock .headerBlock__h1 {
        font-size: calc(40px + 40 * (100vw - 426px) / 2240);
        line-height: calc(38px + 78 * (100vw - 426px) / 2240);
    }
    
    .AboutServiceBlock {
        flex-direction: row;
        align-items: start;
    }

    .AboutServiceBlock__headerBlock {
        width: 60%;
        margin-right: -8%;
        z-index: 1;
    }

    .AboutServiceBlock__imgWrapper {
        width: 50%;
    }

    .dataRequestBtn {
        margin-top: 7vh;
    }
}

.AboutServiceBlock {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;
}

.AboutServiceBlock__headerBlock {
    box-sizing: border-box;
}

.AboutServiceBlock__img {
    width: 100%;
}