@media screen and (max-width: 425px){
    .AppFooter {
      padding: 0vh 3vw;
    }

    .AppFooter__logo {
      height: 30%;
    }
  }

  @media screen and (min-width: 426px){
    .AppFooter {
      padding: 0vh 3vw;
    }

    .AppFooter__logo {
      height: 35%;
    }
  }
  
  .AppFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    height: 9rem;

    font-size: calc(14px + 4 * (100vw - 320px) / 2240);
    font-weight: 200;
    color: #FFFFFF;

    background-color: #029491;
  }

  .AppFooter__rightBlock {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .AppFooter__logo {
    width: auto;
  }

  .AppFooter__copyright {
    margin-top: 2rem;
  }