/* @media screen and (min-width: 1025px){ 
    .AppHeader {
      height: 10vh;
      padding: 0vh 4vw 0vh 4vw;
    }
  }
  
  @media screen and (max-width: 1024px) and (min-width: 769px){
    .AppHeader {
      height: 10vh;
      padding: 0vh 3vw 0vh 3vw;
    }
  }
  
  @media screen and (max-width: 768px) and (min-width: 426px){
    .AppHeader {
      height: 15vh;
      padding: 0vh 3vw 0vh 3vw;
    }
  } */
  
  @media screen and (max-width: 425px){
    .AppHeader {
      /* height: 15vh; */
      padding: 0vh 3vw;
    }

    .AppHeader__logo {
      height: 40%;
    }

    .AppHeader__burgerMenu {
      display: block;
    }
  }

  @media screen and (min-width: 426px){
    .AppHeader {
      /* height: 15vh; */
      padding: 0vh 3vw;
    }

    .AppHeader__logo {
      height: 55%;
    }

    .AppHeader__burgerMenu {
      display: none;
    }
  }
  
  .AppHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    height: 6rem;
  }

  .AppHeader__rightBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    column-gap: 8vw;
  }

  .AppHeader__logo {
    width: auto;
  }