@media screen and (min-width: 1025px) {
    .ArticlesSearch {
        /* width: 58vw; */
        width: 46rem;
        padding: 0vw 3vw 2vw 3vw;
        flex-direction: row;

        font-size: 18px;
    }

    .input,
    .select {
        width: 65%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .ArticlesSearch {
        max-width: 100%;
        padding: 0vw 5vw 4vw 5vw;
        flex-direction: row;

        font-size: 18px;
    }

    .input,
    .select {
        width: 70%;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .ArticlesSearch {
        max-width: 100%;
        padding: 0vw 3vw 2vw 3vw;
        flex-direction: row;

        font-size: 16px;
    }

    .input,
    .select {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .ArticlesSearch {
        flex-direction: column;
        max-width: 100%;
        padding: 0vh 3vw 3vh 3vw;
    }

    .input,
    .select {
        width: 100%;
    }

    .ArticlesSearch__leftBlock,
    .ArticlesSearch__rightBlock,
    .searchRange__input,
    .searchBtnBlock
     {
        width: 100%;
    }

    .rightBlock__checkboxes {
        display: none;
    }

    .searchBtnBlock {
        width: 100%;
        margin-top: 2rem;
    }

    .searchBtnBlock__note {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 426px) {
    .rightBlock__checkboxes {
        display: flex;
    }

    .ArticlesSearch__leftBlock{
        width: 50%;
    }

    .ArticlesSearch__rightBlock{
        width: 55%;
    }    

    .searchRange__input {
        width: 46%;
    }

    .searchBtnBlock {
        width: 80%;
        margin-top: 5rem;
    }

    .searchBtnBlock__note {
        margin-top: 1rem;
    }
}

.ArticlesSearch {
    display: flex;

    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000033;

    font-weight: 400;
}

.input,
.select {
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px 0px #0000000D;

    box-sizing: border-box;
    padding-right: 5px;
    height: 2.7rem;

    text-align: center;
    font-size: 14px;
}

.rightBlock__checkboxes {
    flex-direction: column;

    row-gap: 0.8rem;
    margin-top: 2rem;
}

.ArticlesSearch__leftBlock,
.ArticlesSearch__rightBlock {
    display: flex;
    flex-direction: column;
}

.ArticlesSearch__rightBlock {
    align-items: end;
    justify-content: space-between;

    min-height: 100%;
}

.searchBtnBlock__note {
    color: #949494;
    font-size: 14px;
}

.leftBlock__legend {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.leftBlock__searchRange {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 1vw;
    row-gap: 1rem;
}

.commonTypeBtn.searchBtn,
.leftBlock__searchRange {
    width: 100%;
}

.select {
    appearance: none;
    background-image: url('./assets/select-arrow_img.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px auto;
}

.errorMsg0,
.errorMsg1,
.errorMsg2 {
    color: #FF5959;
    font-size: 16px;
    text-align: center;
}

.errorMsgInput {
    border: 1px solid #FF5959;
    box-shadow: 0px 0px 20px 0px #FF595933;
    outline: #FF5959;
}