@media screen and (max-width: 425px) {
    .Article {
        width: 100vw;
        padding: 6vw;
    }
}

@media screen and (min-width: 426px) {
    .Article {
        width: 45vw;
        padding: 2vw;
    }
}

.Article {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.Article__text,
.Article__sourceInfo,
.bottomBlock__wordsNum {
    color: #949494;
    font-size: calc(18px + 14 * (100vw - 320px) / 2240);
}

.headerBlock__articleTheme,
.bottomBlock__goToSourseText,
.Article h4 {
    color: #000000;
}

.headerBlock__articleTheme {
    display: inline-block;
    background-color: #FFB64F;
    border-radius: 5%;
}

.sourceInfo__source {
    text-decoration: overline;
}

.Article__img,
.Article__imgWrapper {
    border-radius: 10px;
}

.Article__img {
    height: 20vh;
    object-fit: cover;
}