@media screen and (min-width: 1025px) {
  .leftBlock__h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .leftBlock__img {
    width: 55vh;
    margin-left: 8vw;
  }

  .rightBlock__img {
    display: none;
  }

  .AuthPage__decorImg {
    margin: -55px -25px auto 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .leftBlock__h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .leftBlock__img {
    width: 25vh;
    margin-left: 4vw;
  }

  .rightBlock__img {
    display: none;
  }

  .AuthPage__decorImg {
    margin: -25px -20px auto 0px;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .leftBlock__h1 {
    font-size: 30px;
    line-height: 38px;
  }

  .leftBlock__img {
    width: 25vh;
    margin-left: 4vw;
  }

  .rightBlock__img {
    display: none;
  }

  .AuthPage__decorImg {
    margin: 5vh 0px -10px 30vw;
  }
}

@media screen and (max-width: 425px) {
  .AuthPage__main {
    flex-direction: column;
  }

  .leftBlock__h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .leftBlock__img {
    display: none;
  }

  .rightBlock__img {
    margin-top: 4vh;
  }

  .AuthPage__rightBlock {
    width: 100%;
  }

  .AuthPage__decorImg {
    margin: 5vh auto -10px 30vw;
  }
}

@media screen and (min-width: 426px) {
  .AuthPage__main {
    flex-direction: row;
  }

  .AuthPage__leftBlock {
    margin-right: 5vw;
  }

  .leftBlock__img {
    margin-top: 1.5vh;
  }
}

.AuthPage {
  display: flex;
  flex-grow: 1;
}

.AuthPage__main {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}

.AuthPage__leftBlock {
  display: flex;
  flex-direction: column;
}

.leftBlock__h1 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.AuthPage__decorImg {
  align-self: flex-start;
  width: 75px; 
}