@media screen and (min-width: 426px) {
    .commonTypeBtn {
        width: 20rem;
        font-size: 22px;
    }
} 

@media screen and (max-width: 425px) {
    .commonTypeBtn {
        width: 100%;
        font-size: 16px;
    }
} 


.commonTypeBtn {
    height: 60px;

    background-color: #5970FF;

    cursor: pointer;

    border: 0px;
    border-radius: 5px;

    color: #FFFFFF;
    font-family: Inter, 'Arial Narrow', Arial, sans-serif;
}

.commonTypeBtn:active {
    background-color: #596fffc8;
}

.commonTypeBtn:disabled {
    background-color: #596fff98;
    cursor: default;
}