@media screen and (max-width: 425px){
    .HeaderUserAccInfo  {
        display: none;
      }
  }

  @media screen and (min-width: 426px){
    .HeaderUserAccInfo  {
        display: flex;
      }
  }

.HeaderUserAccInfo {
    flex-direction: row;
    align-items: center;
}

.HeaderUserAccInfo__userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;

    column-gap: 10px;

    height: min-content;
}

.userInfo__text {
    display: flex;
    flex-direction: column;
    align-items: end;

    white-space: nowrap;
}

.userInfo__text a {
    text-decoration: none;
    color: #949494;
}

.userInfo__userAvatar {
    border-radius: 50%;
}