@media screen and (min-width: 1025px) {
      .headerBlock__textPart {
        margin-top: 2rem;
      }
}

@media screen and (max-width: 425px) {
    .ResultsPage__headerBlock {
        flex-direction: column;
        align-items: center;

        margin-bottom: 3vh;
    }

    .ResultsPage__articlesBlock .ResultsPage__h2 {
        margin-bottom: 1rem;
    }

    .headerBlock__imgWrapper {
        width: 100%;
        height: auto;

        margin-top: 2vh;
        margin-bottom: 4vh;
    }

    .ResultsPage__histogrammBlock {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 426px) {
    .ResultsPage__headerBlock {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .headerBlock__imgWrapper {
        width: 45%;
        height: auto;
    }

    .ResultsPage__articlesBlock .ResultsPage__h2 {
        margin-bottom: 3rem;
    }

    .ResultsPage__histogrammBlock {
        margin-bottom: 6rem;
    }
}

.ResultsPage__main {
    flex-direction: column;
    align-items: center;
}

.ResultsPage__headerBlock {
    display: flex;
}

.ResultsPage__headerBlock.invisible {
    display: none;
}

.ResultsPage__histogrammBlock {
    box-sizing: border-box;
    width: 100%;
}

.ResultsPage__histogrammBlock .ResultsPage__h2,
.histogrammBlock__spanBlock {
    margin-bottom: 1.5rem;
}

.histogrammBlock__spanBlock {
    font-weight: 400;
    font-size: calc(18px + 12 * (100vw - 320px) / 2240);
    color: #949494;
}

.ResultsPage__h2 {
    display: inline-block;

    font-size: calc(20px + 20 * (100vw - 320px) / 2240);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.headerBlock__image {
    width: 100%;
    height: fit-content;
}