@media screen and (max-width: 425px) {
    .UserPlanInfo {
        min-width: 8rem;
    }

    .UserPlanInfo__companiesNum,
    .UserPlanInfo__companiesLimit {
        align-items: start;
        flex-direction: column;

        font-size: 10px;
    }
}

@media screen and (min-width: 426px) {
    .UserPlanInfo {
        min-width: 10rem;
    }

    .UserPlanInfo__companiesNum,
    .UserPlanInfo__companiesLimit {
        justify-content: end;
        flex-direction: row;

        font-size: 12px;
    }
}

.UserPlanInfo {
    display: flex;
    flex-direction: column;

    width: min-content;
    white-space: nowrap;

    border-radius: 5px;

    padding: 17px 12px;

    color: #999999;
    background-color: #f3f3f3;
}

.UserPlanInfo span {
    display: inline-block;
}

.UserPlanInfo__companiesNum,
.UserPlanInfo__companiesLimit {
    display: flex;
    column-gap: 8px;
}

.companiesNum__num {
    color: #000000;
    font-size: calc(14px + 10 * (100vw - 320px) / 2240);
    font-weight: 700;
}

.companiesLimit__num {
    color: #8AC540;
    font-size: calc(14px + 10 * (100vw - 320px) / 2240);
    font-weight: 700;
}