@media screen and (max-width: 425px) {
    .MainPage__img {
        width: 200%;
    }
}

@media screen and (min-width: 426px) {
    .MainPage__img {
        width: 100%;
    }
}

.MainPage {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.MainPage__h2 {
    display: inline-block;

    font-size: calc(28px + 30 * (100vw - 320px) / 2240);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

    margin-top: 8vh;
    margin-bottom: 7vh;
}

.MainPage__imgWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;
    overflow-x: hidden;

    width: 100%;

    margin-top: 7vh;
}

.MainPage__img {
    height: auto;
}