.Slider,
.Slider__slidesBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Slider {
    align-items: center;

    box-sizing: border-box;
    width: 100%;
} 

.Slider__slidesBlock {
    margin: 0 1vw 0 1vw;
    column-gap: 2vw;
    width: 100%;
}

.Slider__sliderArrow {
    cursor: pointer;
}