* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-block {
    display: flex;
    flex-direction: row;
}

.header-block ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    column-gap: 30px;
    margin: 30px 164px 30px 51px;

    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.header-block button {
    background-color: #E3F5F5;

    font-size: 16px;
    color: #03B2A5;
    font-weight: 700;

    border-style: none;
    border-radius: 4px;

    width: 230px;
    height: 48px;
    padding: 14px 20px 14px 20px;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

#dropdown_list {
    display: flex;
    align-items: center;
    column-gap: 8px;
} 

.navigate_section {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 6px;
}

.navigate_section span {
    font-size: 12px;
    color: #333333;

    margin-left: 8px;
}

.navigate_section .arrow {
    transform: rotate(-90deg);
    margin-left: 4px;
}

h1 {
    font-size: 48px;
    font-weight: 700;

    margin: 30px auto 32px 0px;
}

.topics {
    display: flex;

    font-size: 14px;
    font-weight: 600;

    margin-bottom: 24px;
    column-gap: 8px;
}

.topics a {
    display: flex;
    align-items: center;
    
    border: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color: #C1C5CD;

    padding: 6px 8px;
}

.topics a:nth-child(3) {
    border: 2px;
    border-style: solid;
    border-color: #16C8BB;
    border-radius: 24px;
}

.topics__decored_tag {
    column-gap: 4px;
}

.articles-block {
    display: flex;
    flex-direction: row;

    margin-bottom: 24px;
    column-gap: 24px;
}

.articles-block1 .articles-block__preview{
    height: 499px;
    width: 588px;
}

.articles-block2 .articles-block__preview, .articles-block3 .articles-block__preview{
    height: 475px;
    width: 384px;
}

.articles-block__preview {
    display: flex;
    flex-direction: column;
}

.articles-block__preview img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.articles-block__preview_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    flex-grow: 1;
    padding: 16px;
}

h2 ~ span{
    font-size: 12px;
    color: #494949;
}

.articles-block__preview_text span:last-child{
    font-size: 12px;
    color: #868686;
}

.articles-block__preview_text p {
    font-size: 14px;
    color: #333333;
    margin-top: 8px;
}

h2 {
    font-size: 18px;
    margin-bottom: 4px;
}

#more_content-button {
    align-self: center;
    background-color: #35B3A9;

    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;

    border-style: none;
    border-radius: 4px;

    width: 182px;
    height: 48px;
    padding: 12px 16px 12px 16px;        
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 91.5px;
    width: 1440px;
    background-color: #2963A3;
}

.footer_subscribing {
    width: 486px;
}

.footer_subscribing

.footer_list {
    display: flex;
    flex-direction: row;
    column-gap: 93px;
}

.footer_list div{
    display: flex;
}

.footer_list ul{
    list-style: none;

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;

    row-gap: 16px;
}

.footer_social_networks {
    display: flex;
    flex-direction: column;
    width: 221px;
    row-gap: 40px;
}