@media screen and (min-width: 1440px) {
    .slider {
        width: 78vw;
        height: 60vw;
    }

    .slider__nav-dots {
        margin-top: calc(20px + 10 * (100vw - 1440px) / 1120);
        column-gap: calc(20px + 10 * (100vw - 1440px) / 1120);
    }

    .slider__nav-dot {
        width:calc(12px + 10 * (100vw - 1440px) / 1120);
        height:calc(12px + 10 * (100vw - 1440px) / 1120);
    }
}

@media screen and (max-width: 1439px) and (min-width: 992px){
    .slider {
        width: 84vw;
        height: 62vw;
    }

    .slider__nav-dots {
        margin-top: 2rem;
        column-gap: calc(15px + 8 * (100vw - 1440px) / 1120);
    }

    .slider__nav-dot {
        width: 10px;
        height: 10px;
    }
}


@media screen and (max-width: 991px) {
    .slider {
        width: 90vw;
        height: 77vw;
    }

    .slider__nav-dots {
        margin-top: calc(15px + 8 * (100vw - 320px) / 671);
        column-gap: calc(17px + 10 * (100vw - 320px) / 671);
    }

    .slider__nav-dot {
        width: calc(7px + 5 * (100vw - 320px) / 671);
        height: calc(7px + 5 * (100vw - 320px) / 671);
    }
}

